a {
    color : white
}

a:hover {
    color : white
}


.portfolio-item  {
    transform: scale(1);
    transition: transform 1s;
}

/*
.portfolio-item:hover {
    transform: scale(1.2);
} */

.img {
    max-width:100%;
    height:100px;
    background-size:contain;
    background-position:center center;
    background-repeat: no-repeat;
}

#label{
    transform-box: fill-box;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateX(-90deg);
    transition: transform 1s;
    font-size: x-large;
}



#team ul{
    color: white;
}

#team .show-email,#team .show-number{
    transform: rotateX(0deg) !important;
}

#simulationDialog{
    padding-top: 50px;
}

.modal-content-load{
padding-left:15px;
padding-right: 15px;

}

header.masthead{
    height: 100vh !important;
}

.masthead .introduction{
    position: relative;
    top: -100%;
    width: 100vw;
    height: 100%;
    color: blueviolet;
}

.icon-placer{
    display: inline-block;
    transition: border-color 0.15s linear;
    /* box-shadow: 0px 0px 10px 5px #888 inset; */

    border: solid 2px #CCC;
    border-radius: 10vh;
    height: 120px;
    width: 120px;
    padding: 20px;

}

#portfolio .portfolio-item .portfolio-icon .icon .icon-first{
    color: #68ace3 !important;
}

.icon-placer:hover{
    border-color: #68ace3;

}
.icon-placer .icon{
    height: 80px;
    width: 80px;
}
.icon-placer .icon i {
    line-height: 80px;
    font-size: 4em;

}


/*Changes */
/*Services */


h2{
    color: #68ace3
}
.section-subheading{
    font-size: 18px!important;
}

.modelLoader{
    cursor: pointer;
}

.portfolio-modal .privacy{

    text-align: left;

}
.portfolio-modal .privacy p{
    font-size: 10pt;
}

.portfolio-modal .privacy a{
    color: #68ace3;
}

.portfolio-modal .privacy h2,
.portfolio-modal .privacy h3
 {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 10px;

    
}

.portfolio-modal .privacy li{
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}